@import 'colors.scss';
[dir="rtl"] {
    .mat-card {
        border-left: 5px solid $primary-color;
    }
    .card-bg {
        left: 10px;
    }
}

[dir="ltr"] {
    .mat-card {
        border-right: 5px solid $primary-color;
    }
    .card-bg {
        right: 10px;
    }
}

.card-bg {
    height: 130px;
    top: 10px;
    position: absolute;
    bottom: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.mat-card:hover .card-bg {
    visibility: visible;
    opacity: 0.1;
}
.mat-card:hover {
    transform: translateY(-10px);
    transition: all .5s ease;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}
.mat-card {
    background-color: #f6f6f6 !important;
    height: 150px;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 16px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.app-service-card {
    .service-desc {
        font-size: 15px;
    }
    .two-line {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .title {
        // color: $primary-color;
        font-weight: 500;
    }
}