<div class="app-service-card">
	<mat-card class="mat-card" [routerLink]="['/service-catalog/details/' + id]">
		<!-- <img src="assets/images/service-bg.png" class="card-bg" /> -->
		<div class="card-icon">
			<svg width="72" height="76" style="--svg-color: rgb(33, 133, 184)">
				<use
					xlink:href="/assets/images/service-icon.svg#img"
					href="/assets/images/service-icon.svg#img"
				></use>
			</svg>
		</div>
		<div class="card-content">
			<div class="card-text">
				<h5 class="title two-line">{{ cardTitle }}</h5>
				<p class="service-desc two-line">{{ text }}</p>
			</div>
		</div>
	</mat-card>
</div>
