<app-page>
  <div class="container-fluid">
    <div class="service-title">
      <h5>{{'NAV.QUERY_REQUEST' | translate}}</h5>
    </div>
    <div class="row">
      <div class="col-12">
        <div class='page-container'>
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <mat-form-field style="width:100%">
                  <input matInput [(ngModel)]="query.requestNumber" [placeholder]="'Id' | translate">
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field style="width:100%">
                  <input matInput [(ngModel)]="query.requestDate" [matDatepicker]="fd"
                    [placeholder]="'Request Date' | translate">
                  <mat-datepicker-toggle matSuffix [for]="fd"></mat-datepicker-toggle>
                  <mat-datepicker #fd></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-info btn-sm query-button" (click)="doQuery()"
                  style="margin-left: 5px; margin-right: 5px;">
                  {{'SERVICE.QUERY' | translate}} <i class="fa fa-search"></i>
                </button>
              </div>

            </div>
          </div>

          <div class="col-12">
          </div>
        </div>
        <div *ngIf="found" class='page-container test-center'>
          <router-outlet></router-outlet>
        </div>
        <h6 class="text-center" style="margin:20px;" *ngIf="notFound">لم يتم العثور على الطلب</h6>

      </div>
    </div>
  </div>
</app-page>