<app-page>
  <div class="container-fluid">
    <div class="service-title">
      <h5>{{'NAV.QUERY_REQUEST' | translate}}</h5>
    </div>
    <div class="row">
      <div class="col-12">
        <div class='page-container'>
          <form [formGroup]="query" autocomplete="off">

            <div class="query-form">
              <div class="col-12 text-center">
                <p class="note">{{'SERVICE.QUERY_NOTE' | translate}}</p>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field color="primary" style="width:100%">
                      <input matInput formControlName="requestNumber" [placeholder]="'Id' | translate">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field color="primary" style="width:100%">
                      <input matInput formControlName="requestDate" [matDatepicker]="fd"
                        [placeholder]="'Request Date' | translate">
                      <mat-datepicker-toggle matSuffix [for]="fd"></mat-datepicker-toggle>
                      <mat-datepicker #fd></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <app-select color="primary" [placeholder]="'Service' | translate" [closeOnSelect]="true"  [hideLoaded]="true" formControlName="requestType"
                      [data]="services" [bindValue]="'id'" [bindLabel]="'name'">
                    </app-select>
                  </div>
                  <div class="col-12">
                    <button style="margin:35px auto;display:block;" mat-raised-button color="primary"
                      [disabled]="query.invalid" (click)="doQuery()">
                      {{'SERVICE.QUERY' | translate}}
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>

                </div>
              </div>

              <div class="col-12">
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="found" class='page-container test-center'>
          <router-outlet></router-outlet>
        </div>
        <h6 class="text-center" style="margin:50px;" *ngIf="notFound">{{'SERVICE.REQUEST_NOT_FOUND' | translate}}</h6>

      </div>
    </div>
  </div>
</app-page>