<div class="manage-password">
  <div class="flexer">
    <div class="side-image">
      <img src="assets/images/account/login-side.png" />
      <p class="copyrights">© All rights reserved for ETEC 2021</p>
    </div>

    <div class="login-pf-page">
      <div id="kc-header" class="login-pf-page-header">
        <div id="kc-header-wrapper" class="">etec</div>
        <div class="switcher" [matMenuTriggerFor]="langDropdown">
          <mat-icon>language</mat-icon>
          <span class="lang lg">{{'HEADER.LANGUAGE' | translate}}&nbsp;:&nbsp;</span>
          <span class="selected-language lg">{{'HEADER.' + currentLang | translate}}</span>
          <mat-icon>expand_more</mat-icon>
        </div>

        <mat-menu #langDropdown="matMenu">
          <button mat-menu-item (click)="switchLangService.changeLang('ar')">عربي</button>
          <button mat-menu-item (click)="switchLangService.changeLang('en')">English</button>
        </mat-menu>
      </div>
      <div class="card-pf" *ngIf="userId" dir="{{switchLangService.getSelectedLang() == 'ar' ? 'rtl' :'ltr'}}">
        <app-otp-verification *ngIf="!verify" [userId]="userId" (verified)="verifiedOTP($event)"></app-otp-verification>
        <app-change-password *ngIf="verify" [userId]="userId" [token]="token"></app-change-password>
      </div>
    </div>
  </div>
</div>