<!-- <div class="manage-password d-none">
	<div class="flexer">
		<div class="side-image">
			<img src="assets/images/account/login-side.png" class="login-side" (click)="redirectToHome()" />
			<div class="etec-desc">
				<img src="assets/images/w-logo.png" />
				<h4>{{ 'ManagePassword.EducationTrainingEvaluation' | translate }}</h4>
				<h6>{{ 'ManagePassword.Vision' | translate }}</h6>
				<p>{{ 'ManagePassword.VisionDesc' | translate }}</p>
			</div>
			<div class="triangle"></div>
			<p class="copyrights">{{ 'copyrights' | translate }}</p>
		</div>

		<div class="login-pf-page">
			<div id="kc-header" class="login-pf-page-header">
				<div id="kc-header-wrapper" class="">etec</div>
				<div class="switcher" [matMenuTriggerFor]="langDropdown">
					<mat-icon>language</mat-icon>
					<span class="lang lg">{{ 'HEADER.LANGUAGE' | translate }}&nbsp;:&nbsp;</span>
					<span class="selected-language lg">{{ 'HEADER.' + currentLang | translate }}</span>
					<mat-icon>expand_more</mat-icon>
				</div>

				<mat-menu #langDropdown="matMenu">
					<button mat-menu-item (click)="switchLangService.changeLang('ar')">عربي</button>
					<button mat-menu-item (click)="switchLangService.changeLang('en')">English</button>
				</mat-menu>
			</div>
			<div class="card-pf" *ngIf="userId"
				[attr.dir]="switchLangService.getSelectedLang() == 'ar' ? 'rtl' : 'ltr'">
				<app-otp-verification *ngIf="!verify" [userId]="userId" (verified)="verifiedOTP($event)">
				</app-otp-verification>
				<app-change-password *ngIf="verify" [userId]="userId" [token]="token"></app-change-password>
			</div>
		</div>
	</div>
</div> -->
<main class="page-wrapper d-flex align-items-center" style="min-height:100vh; background-color: #f7f7f7;">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-10 col-12 mb-5 mb-md-0">
				<div class="bg-white shadow px-3 py-5 p-sm-5 rounded-5 mt-lg-0 mt-3 mb-lg-0 mb-3">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div *ngIf="userId"
								[attr.dir]="switchLangService.getSelectedLang() == 'ar' ? 'rtl' : 'ltr'">
								<div class="d-flex justify-content-between mb-5">
									<img src="assets/images/ETEC-Logo.svg" alt="etec-logo" width="230">
									<div id="kc-header" class="login-pf-page-header">
										<div [matMenuTriggerFor]="langDropdown"
											class="lang-btn btn btn-primary btn-sm fs-6 ms-2 border-1 border-primary rounded-3">
											<!-- <mat-icon>language</mat-icon> -->
											<!-- <span class="lang lg">{{ 'HEADER.LANGUAGE' | translate }}&nbsp;:&nbsp;</span> -->
											<span class="selected-language lg">{{ 'HEADER.' + currentLang | translate
												}}</span>
											<!-- <mat-icon>expand_more</mat-icon> -->
										</div>

										<mat-menu #langDropdown="matMenu">
											<button mat-menu-item
												(click)="switchLangService.changeLang('ar')">عربي</button>
											<button mat-menu-item
												(click)="switchLangService.changeLang('en')">English</button>
										</mat-menu>
									</div>
								</div>
								<app-otp-verification *ngIf="!verify" [userId]="userId"
									(verified)="verifiedOTP($event)">
								</app-otp-verification>
								<app-change-password *ngIf="verify" [userId]="userId"
									[token]="token"></app-change-password>
									<!-- <app-change-password></app-change-password> -->
							</div>

						</div>
						<div class="col-lg-6 col-12 d-flex">
							<div class="rounded-5 h-100 w-100 img-container">
								<img src="assets/images/login-img1.jpg" class="d-block w-100 h-100" alt="login-img1"
									style="object-fit: cover;cursor: pointer;" (click)="redirectToHome()">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
