@import "colors.scss";
.manage-password {
    direction: ltr;
    // min-height: 700px;
    .flexer {
        display: flex;
        .side-image {
            flex: initial;
            position: relative;
            img {
                height: 100vh;
                &.login-side {
                    min-height: 700px;
                }
                cursor: pointer;
            }
            .copyrights {
                position: absolute;
                bottom: 0px;
                color: #fff;
                right: 15%;
                font-size: 12px;
            }
            .triangle {
                display: none;
                height: 20%;
                background: linear-gradient( to bottom right, transparent 0%, transparent 50%, #3aad6d 50%, #3aad6d 100%);
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
            }
            .etec-desc {
                position: absolute;
                z-index: 9;
                right: 30%;
                left: 20px;
                top: 50%;
                color: white;
                text-align: start;
                direction: rtl;
                img {
                    width: 75px;
                    height: 55px;
                }
                h4 {
                    margin-top: 10px;
                    font-size: 22px;
                    font-weight: bold;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        .login-pf-page {
            position: relative;
            flex: 1;
            // background-image: url(/assets/images/account/pattern.png);
            background-repeat: repeat-y;
            background-position: 5px 0;
            background-size: auto 100vh;
            height: 100vh;
            #kc-header {
                color: #ededed;
                overflow: visible;
                white-space: nowrap;
                margin-bottom: 75px;
                display: flex;
                #kc-header-wrapper {
                    display: none;
                    font-size: 29px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    line-height: 1.2em;
                    padding: 62px 10px 20px;
                    white-space: normal;
                }
                .switcher {
                    display: flex;
                    background: #f5f5f5;
                    width: fit-content;
                    padding: 5px 10px;
                    margin-top: 20px;
                    margin-inline: 85px;
                    color: initial;
                    font-size: 12px;
                    align-items: center;
                    cursor: pointer;
                    font-weight: 600;
                    mat-icon {
                        opacity: 0.3;
                        margin-inline-end: 5px;
                    }
                    .selected-language {
                        color: $primary-color;
                    }
                }
                &::after {
                    content: " ";
                    background: url(/assets/images/account/keycloak-logo-text.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 63px;
                    width: 164px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    display: block;
                }
            }
            .card-pf {
                padding: 10px 20px 30px 20px;
                margin-bottom: 0;
                background: transparent;
                margin: 0 auto;
                padding: 0 20px;
                max-width: 500px;
                border-top: 0;
                box-shadow: none;
                margin-top: 25vh;
                p {
                    color: #72767b;
                }
                .login-pf-header {
                    margin-bottom: 20px;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    h1 {
                        text-align: center;
                        font-size: 16px;
                        font-weight: 100;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        line-height: 1.1;
                        color: inherit;
                        font-family: inherit;
                    }
                }
                button {
                    margin-top: 0;
                    background-color: #25aab2;
                    background-image: linear-gradient( to bottom, #25aab2 0%, #25aab2 100%);
                    background-repeat: repeat-x;
                    border-radius: 0;
                    color: #fff;
                    height: 50px;
                    width: 100%;
                    outline: none;
                    border: none;
                    &:disabled {
                        filter: grayscale(1);
                    }
                }
                .input-icon-wrap {
                    border-bottom: 1px solid #e6e6e6;
                    display: flex;
                    flex-direction: row;
                    height: 41px !important;
                    .input-icon {
                        padding: 8px 9px 8px 9px;
                        font-size: 21px;
                        width: 35px;
                        text-align: center;
                        text-decoration: none;
                        outline: none !important;
                        background: transparent;
                        color: #40808e;
                    }
                    .input-with-icon {
                        padding: 10px;
                        text-decoration: none;
                        outline: none !important;
                        border: none;
                        flex: 1;
                        font-size: 14px;
                        min-height: 40px !important;
                    }
                }
                .flex-space {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-top: 15px;
                    .f-12 {
                        font-size: 12px;
                    }
                    a.disabled {
                        color: gray;
                        cursor: not-allowed;
                        text-decoration: underline;
                    }
                }
            }
            .counter {
                color: $primary-color;
            }
        }
    }
}

.login-pf-page .login-pf-header .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.login-pf-page .login-pf-header .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) .dropdown-toggle {
    color: #4d5258;
    background: none;
    padding: 0 15px 0 0;
    font-weight: 300;
}

.login-pf-page .login-pf-header .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) .dropdown-toggle:not(:focus) {
    box-shadow: none;
    border: 1px solid transparent;
}

.login-pf-page .login-pf-header .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) .dropdown-toggle .caret {
    right: 0;
}

.login-pf-page .login-pf-accounts .login-pf-header,
.login-pf-page .login-pf-accounts .login-pf-signup {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .login-pf-page .card-pf {
        padding: 20px 40px 30px 40px !important;
    }
    .login-pf-page .login-pf-header {
        margin-bottom: 10px !important;
    }
    .login-pf-page .login-pf-header h1 {
        font-size: 24px !important;
    }
}

[dir="ltr"] {
    .etec-desc {
        direction: ltr !important;
    }
}