@import '../../../../../colors.scss';

.toast-title {
    font-weight: normal;
    font-size: 14px;
    color: inherit;
}

.toast-message {
    font-size: 12px;
    color: $primary-color;
}

.notification-prefix {
    background: $primary-color;
    color: white;
    i {
        font-size: 30px;
    }
}