<app-page pageTitle="{{ 'OPPORTUNITY.VIEW_PAGETITLE' | translate }}" hasBackButton="false">
  
    <div fxLayout="row">
      
      <div fxFlex="70">
        
        موظف خدمه عملاء
        
        المركز الخليجي للعلاج الطبيعي
        
        الرياض

        ٤٠٠٠ ريال

        ١-١-٢٠٢٠ الى ٢٨-٢-٢٠٢٠

        وصف: 

        جامعي

        عدد ٣ فرص

        المتطلبات:
        -
        -

        المؤهلات:
        -
        -

        الشهادات:
        - 
        - 

        سنوات الخبره: سنه واحده الى سنتين

        ملاحظات:
        - 
        - 



      </div>
  
      <div fxFlex="30">
        
      </div>
  
    </div>
  
  </app-page>
  
  