@import '../../../../../colors.scss';
ion-item {
    margin: 0;
    --background: transparent;
    font-size: 11px;
    ion-label {
        .notification-content {
            font-size: 14px;
        }
    }
    --min-height: 64px;
    --padding-top: 7px;
    --padding-bottom: 7px;
    &.unread {
        --background: #f7f7f7;
        // border-right: 4px solid $primary-color;
    }
    &.read {
        // border-right: 4px solid #ddd;
    }
    ion-button {
        --background: transparent;
    }
    ion-chip {
        ion-label {
            p {
                font-size: 12px;
                color: #989aa2;
            }
        }
    }
    .options {
        opacity: 0;
        transition: 0.3s;
        margin: 0;
        ion-button {
            margin: 0px !important;
            .unread-icon {
                color: #595a59;
            }
            .read-icon {
                color: $primary-color;
            }
        }
        &:focus {
            opacity: 1;
        }
    }
    &:hover {
        .options {
            opacity: 1;
        }
    }
}

.type {
    padding: 2px;
    margin: 0px;
    height: 18px;
}
