@import 'colors.scss';
.app-section {
    .section>div {
        width: 100%;
    }
    .section>.divider {
        border: 3px solid $primary-color;
        border-radius: 5px;
        display: inline-block;
        width: 200px;
    }
    .section {
        background: #fff;
        margin-top: 10px;
        margin-bottom: 40px;
        &__title {
            margin: 0;
            font-size: 22px;
            text-transform: capitalize;
            position: relative;
            font-weight: 700;
            color: $secondary-color;
            border-bottom: 4px #777 solid;
            height: 21px;
            margin-bottom: 20px;
        }
        &__title:before {
            content: "";
            @if empty(var(--sectionsIcon)) {
                background-image: url('/assets/images/theme-icon.png');
            }
            @else {
                $image: var(--sectionsIcon);
                background-image: $image;
            }
            width: 20px;
            height: 15px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #fff;
        }
        &__title span {
            display: inline-block;
            padding: 5px;
            padding-right: 20px;
            color: $primary-color;
            background: #fff;
            position: relative;
            z-index: 1;
            top: 0;
        }
        &__title::after {
            content: '';
            display: inline-block;
            width: 30%;
            height: 4px;
            background: $primary-color;
            transform: skewX( -30deg);
            position: relative;
            left: -5px;
            right: 0;
            z-index: 0;
            top: -4px;
        }
        &__wptitle {
            text-align: right;
            color: $secondary-color;
            border-bottom: 4px #777 solid;
            height: 29px;
            margin-bottom: 20px;
        }
        &__container {
            padding: 20px 0px;
            // white-space: pre-line;
        }
        .alignSwitchAR {
            text-align: right;
        }
        .alignSwitchEN {
            text-align: left;
        }
    }
    .sectionCard {
        // background-color: #f6f6f6 !important;
        padding: 20px;
        border: 1px solid #ddd;
        margin-bottom: 16px;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        border-radius: 4px;
    }
    .justSection {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        padding: 10px;
    }
    .no-padding {
        padding-right: 0px;
        padding-left: 0px;
    }
    .has-padding {
        padding-right: 15px;
        padding-left: 15px;
    }
}