.section {
    margin-bottom: 40px;
    &__title {
        margin: 0;
        padding: 0 0 5px 0;
        font-size: 22px;
        text-transform: capitalize;
        position: relative;
        font-weight: 700;
    }
    &__title:before {
        content: "";
        background-image: url('/assets/images/theme-icon.png');
        width: 20px;
        height: 15px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__container {
        background: #fff;
        padding: 20px 0px;
        white-space: pre-line;
    }
    .alignSwitchAR {
        text-align: right;
    }
    .alignSwitchEN {
        text-align: left;
    }
    .divider {
        border: 3px solid #25aab2;
        border-radius: 5px;
        display: inline-block;
        width: 250px;
    }
}