.page__title {
    margin: 20px 0 40px 0;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.page__back {
    font-size: 11px;
    line-height: 18px;
    margin-top: 20px;
}

.page__title--narrow{
    margin: 10px 0 5px;
}

