<ng-select [notFoundText]="'selectNotFoundText' | translate" appearance="outline"
  [items]="isAsync && attachSource ? (source$ | async) : buffer" [groupBy]="groupBy" [hideSelected]="hideSelectedItems"
  [closeOnSelect]="closeOnSelect" [multiple]="multiple" [(ngModel)]="selection" (change)="emitSelection($event)"
  [virtualScroll]="true" [loading]="loading" [bindLabel]="bindLabel" [bindValue]="bindValue"
  [placeholder]="placeholder | translate" (scroll)="onScroll($event)" (scrollToEnd)="onScrollToEnd()"
  [ngStyle]="{'width' : maxWidth ? maxWidth : '100%'}">
  <ng-template ng-header-tmp *ngIf="!hideLoaded">
    <small class="form-text text-muted">{{'selectDataCount' | translate:{buffer: buffer.length || 0, data: data.length
      || 0} }}</small>
  </ng-template>
  <ng-template ng-optgroup-tmp *ngIf="groupBy" let-item="item">
    {{(bindLabel ? item[bindLabel] : item) | translate}}
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
    <input id="item-{{index}}" type="checkbox" *ngIf="multiple" [ngModel]="item$.selected" />
    <div>{{(bindLabel ? item[bindLabel] : item) | translate}}</div>
  </ng-template>
  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
    <div class="ng-value" *ngFor="let item of (items ? items : [])">
      <span class="ng-value-label">
        {{(bindLabel ? item[bindLabel] : item) | translate}}
      </span>
      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
    </div>
  </ng-template>
</ng-select>