ion-toolbar {
  --background: transparent;
  z-index: 0;
  font-family: inherit;
  * {
    font-family: inherit;
  }
}
.content {
  position: relative;
  min-height: calc(100% - 49px);
  height: auto;
  overflow: hidden;
  width: 100%;
  padding: 10px;
}
:host {
  display: block;
  padding: 5px;
}
:host::ng-deep {
  .mat-paginator-page-size {
    display: none;
  }
}

.width-100 {
  width: 100%;
}
.footer {
  text-align: center;
}
mat-header-row {
  background: var(--ion-color-lesslight);
  border-radius: 3px;
  background: #f7f7f7;
}
mat-table {
  font-family: inherit;
  background: transparent;
}
mat-row {
  border: 0px;
  min-height: 58px;
  background: #fcfcfc;
  border-radius: 0;
  margin: 5px auto;
  box-shadow: 0 0 !important;

  &:hover {
    opacity: 0.8;
  }
  &.expanded {
    border-radius: 5px 5px 0px 0px;
    z-index: 9;
  }
}
mat-paginator {
  font-family: inherit;
  background: transparent;
}
.element-detail {
  overflow: hidden;
  display: flex;
  padding: 5px 20px;
}
.detail-row {
  margin-top: -10px;
  min-height: 0;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
}

.filter-container {
  margin: 5px 10px;
  padding-top: 50px;
  position: absolute;
  top: 60px;
  left: 0px;
  width: calc(100% - 20px);
  height: calc(100% - 56px);
}

.mat-header-cell,
.mat-cell {
  justify-content: center;
}

mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
  //padding-right: 24px;
}

@media screen and (max-width: 960px) {
  mat-row {
    padding: 5px 10px;
  }
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell:last-child {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    display: block;
    min-height: auto;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-header-cell {
    padding-left: 10px;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 15px;
    text-align: left;
    //text-align: "(switchLangService.currentLang=='ar')? left : right";
    min-height: auto;
    height: 24px;
    margin-bottom: 0%;
    padding: 12px 0px 7px 0px;
    box-sizing: content-box;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
    ion-chip {
      margin-top: -7px;
    }
  }
  
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: right;
    //float: "(switchLangService.currentLang=='ar')? right : left";
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }

 .alignSwitchAR{
    text-align: right;
  }
  .alignSwitchEN{
    text-align: left;
  } 
}
