<div class="d-none d-xl-block">
  <a class="serviceCard" [routerLink]="['/service-details/'+id]">
    <mat-card class="serviceCard__continer" [ngClass]="{'alignSwitchAR': switchLangService.currentLang=='ar', 'alignSwitchEN':switchLangService.currentLang=='en'}">
      <div class="serviceCard__title">{{cardTitle}}</div>
      <p class="serviceText serviceCard__desc">{{text}}</p>
    </mat-card>
  </a>
</div>




<div class="d-xl-none">
  <mat-card class="serviceCard__continer">
    <mat-accordion>
      <mat-expansion-panel class="acc" [class.mat-expansion-panel]="false"  hideToggle="flase">
        <mat-expansion-panel-header>
            <div class="serviceCard__title2" style="width: 90%;">{{cardTitle}}</div>
            <div class="" style="width: 10%;">
              <a [routerLink]="['/service-details/'+id]" class="text-info" style="font-size: 20px;">
                <ion-icon [name]="switchLangService.currentLang=='ar' ? 'arrow-dropright-circle' : 'arrow-dropleft-circle'"></ion-icon>
                
              </a>
            </div>
            
        </mat-expansion-panel-header>
        <small class="serviceCard__desc">{{text}}</small>
      </mat-expansion-panel>
     
    </mat-accordion>
  </mat-card>
</div>


