.serviceCard {
  text-decoration: none;
}

.serviceCard__continer {
  box-shadow: 0 0 !important;
  border-left: 4px solid var(--primary500);
  border-radius: 0;
  margin-bottom: 10px;
  background: #f8f8f8;
  background-image: linear-gradient(to left, #ebebeb, #f9f9f9, #f9f9f9);
  /* margin-right: 30px; */
}
.acc {
  border-width: 0;
  border-color: white;
  background: #f8f8f8;
  padding: 0px;
  background-image: linear-gradient(to left, #ebebeb, #f9f9f9, #f9f9f9);
}
[dir="rtl"] {
  .serviceCard__continer {
    border-left: 0px;
    border-right: 4px solid var(--primary500);
    background-image: linear-gradient(to right, #ebebeb, #f9f9f9, #f9f9f9);
  }
  .acc {
    background-image: linear-gradient(to right, #ebebeb, #f9f9f9, #f9f9f9);
  }
}

.serviceCard__title {
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.serviceCard__title2 {
  font-size: 15px;
}

.serviceCard__desc {
  font-size: 13px;
}

.alignSwitchAR {
  text-align: right;
}
.alignSwitchEN {
  text-align: left;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

/* styles for '...' */
.block-with-text-ar {
  font-size: 13px;
  height: 100px;
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: 3em;
  text-align: justify;
  margin-left: -1em;
  padding-left: 1em;
}
.block-with-text-ar:before {
  content: "...";
  position: absolute;
  left: 0;
  bottom: 0;
}
.block-with-text-ar:after {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 5em;
  margin-top: 0.2em;
  background: #ededed;
}

.block-with-text-en {
  font-size: 13px;
  height: 100px;
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: 3em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text-en:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text-en:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 5em;
  margin-top: 0.2em;
  background: #ededed;
}
