.serviceCard{
    text-decoration: none;
}

.serviceCard__continer {
    box-shadow: 0 0;
    border-right: 4px solid #3d98aa;
    border-radius: 0;
    margin-bottom: 10px;
    background: #f8f8f8;
    background-image: linear-gradient(to right, #ebebeb, #f9f9f9, #f9f9f9);
    /* margin-right: 30px; */
}

.serviceText{
    margin-top: 20px;
    height: 100px;
    line-height: 1.5em;
    height: 3em;     
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.serviceCard__title {
    font-size: 20px;
}

.serviceCard__title2 {
    font-size: 15px;
}

.serviceCard__desc {
    font-size: 13px;
}

.alignSwitchAR{
    text-align: right;
  }
  .alignSwitchEN{
    text-align: left;
  } 

  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}
.acc{
    border-width: 0;
    border-color: white;
    background: #f8f8f8;
    padding: 0px;
    background-image: linear-gradient(to right, #ebebeb, #f9f9f9, #f9f9f9);
}
