.app-notifications-index {
    :host::ng-deep {
        ion-toolbar {
            box-shadow: none !important;
            --background: transparent;
            display: none;
        }
        ion-item {
            --min-height: 75px !important;
            --padding-top: 0 !important;
            --padding-bottom: 0 !important;
            border-radius: 0px;
            ion-label {
                margin: 0px;
            }
        }
        ion-content {
            height: 100% !important;
            --background: transparent;
        }
        >ion-content {
            --background: transparent;
            height: 100%;
            ion-content {
                --background: transparent;
                --padding-top: 20px;
                --padding-bottom: 0px;
                --padding-start: 66px;
                --padding-end: 66px;
            }
        }
    }
    ion-content {
        height: 100%;
    }
    .page-title {
        margin: 25px 0px 0px 0px;
        background-color: #f5f5f5;
        padding: 24px 16px 14px 16px;
    }
    .container-fluid {
        display: block;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
    }
    .list-container {
        padding: 13px;
        display: block;
        height: 100%;
        // margin-top: 25px;
        height: calc(100vh - 225px);
        position: relative;
        float: left;
        width: 100%;
        background: #fff;
    }
    @media (max-width: 992px) {
        .hid-sm {
            display: none;
        }
    }
}