// $primary-color: var(--primaryColor);
$primary-color: #2185b8;
$primary-color-shadow: #00adc3;
$my-secondary-color: #3aad6d;
$light-blue: #2185b8;
$warning-color: var(--warningColor);
// $accent-color: var(--accentColor);
$accent-color: #89caeb;
// $secondary-color: var(--secondaryColor);
$secondary-color: #666;
// $success-color: var(--successColor);
$success-color: #3aad6d;
$error-color: #f04124;
$Purple: #2b5294;
$Purple-light: #34357e;
// $gray:$gray;
$gray: #d3d3d3;
$white: #ffffff;
$light-white: rgba(255, 255, 255, 0.6);
$dark-gray: #939393;
$gray-light: #f6f6f6;
$table-th: #0eb3dd;
$warning: #f0b432;
$txt-black: #000000;
$gray-border: #e0e0e0;
$input-border: #dedede;
$box-shadow: rgba(0, 0, 0, 0.16);