<ion-grid no-padding class="d-none d-xl-block">
    <ion-row class="milestones" align-items-center>
        <ng-container *ngFor="let activity of activities">
            <ion-col class="milestone" *ngIf="activity.completed">
                <ion-chip [color]="activity.completed ? 'success' : 'medium'">
                    <ion-label>{{activity.caseActivityName}}
                        <span class="mdate">
                            {{activity.endTime | date}} {{ activity.endTime | date:'shortTime' }}
                        </span>
                    </ion-label>
                    <ion-icon [name]="activity.completed ? 'checkmark-circle-outline' : 'hourglass'"></ion-icon>
                </ion-chip>
            </ion-col>
            <ion-col *ngIf="activity.activityName == 'task' && activity.active && !activity.completed">
                <ion-chip (click)="action(activity)" [ngClass]="{'glowing': true}" [color]="'warning'">
                    <ion-label>{{'SERVICE.beneficiaryTask' | translate}}
                        <!-- <span class="mdate">
                            {{'SERVICE.required' | translate}}
                        </span> -->
                    </ion-label>
                    <ion-icon [name]="'alert'"></ion-icon>
                </ion-chip>
            </ion-col>
        </ng-container>
    </ion-row>
</ion-grid>


<div class="container d-xl-none" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="milestones" id="tracking">
                <div class="tracking-list milestone" *ngFor="let activity of activities">
                    <div [ngClass]="activity.completed ? 'greenBorder tracking-item' : 'lightBorder tracking-item'"
                        *ngIf="activity.completed">
                        <div [ngClass]="activity.completed ? 'bg-success tracking-icon' : 'bg-secondary tracking-icon'">
                            <ion-icon [name]="activity.completed ? 'checkmark-circle-outline' : 'hourglass'"
                                style="font-size: 40px;"></ion-icon>
                        </div>
                        <ion-chip [color]="activity.completed ? 'success' : 'medium'">
                            <ion-label>{{activity.caseActivityName}}
                                <span class="mdate">
                                    {{activity.endTime | date}} {{ activity.endTime | date:'shortTime' }}
                                </span>
                            </ion-label>
                        </ion-chip>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>