<app-page>

  <div class="sideButtonContainer" *appHasRole="['department_specialist','branch_specialist']">
    <a mat-button mat-raised-button color="primary"
      routerLink="/opportunity/add">{{'NAV.ADD_OPPORTUNITY' | translate}}</a>
  </div>

  <app-dashlet-table-opp
    [ngClass]="{'alignSwitchAR': switchLangService.currentLang=='ar', 'alignSwitchEN':switchLangService.currentLang=='en'}"
    [columns]="dashletCols" title="{{ 'OPPORTUNITY.ALL_PAGETITLE' | translate}}" [service]="dashletService"
    [detailsRouterForEachItem]="'/opportunity/view'"></app-dashlet-table-opp>



</app-page>