@import "styles/colors.scss";
.password-strenght {
    width: 740px !important;
    ul {
        padding: 0;
        list-style: none;
    }
    // ul.row {
    //     margin-right: -100px;
    //     margin-left: -100px;
    // }
    li {
        white-space: nowrap;
    }
    li span.icon {
        min-width: 30px;
        min-height: 35px;
        display: inline-block;
    }
    li span.text {
        color: silver;
    }
    .align {
        padding-right: 24px !important;
        padding-left: 26px !important;
    }
}