<header class="login-pf-header">
	<h5  id="kc-page-title" class="h5 text-primary fw-normal mb-2">{{ 'ManagePassword.Change Password' | translate }}
	</h5>
	<span class="border border-warning border-3 d-inline-flex mb-2 bg-warning"
	style="width:75px;"></span>
</header>

<form [formGroup]="formGroup" class="mt-4">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="password" class="fs-6 form-label text-primary">{{ 'ManagePassword.Password' | translate }}</label>
				<div class="input-group has-validation border border-gray rounded-3 shadow-sm">
					<span class="input-group-text bg-white border-0 p-0 px-2"><i
						class="fa fa-lock text-primary opacity-25"></i></span>
					<input
						tabindex="1"
						placeholder="{{ 'ManagePassword.Password' | translate }}"
						pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-+_!@#$%^&*., ?])[A-Za-z\d-+_!@#$%^&*., ?]{8,}$"
						id="password"
						name="password"
						value=""
						type="password"
						autofocus=""
						autocomplete="off"
						formControlName="password"
						class="form-control border-0 fs-6 px-2 text-primary"
					/>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="fs-6 form-label text-primary">{{ 'ManagePassword.Confirm Password' | translate }}</label>
				<div class="input-group has-validation border border-gray rounded-3 shadow-sm">
					<span class="input-group-text bg-white border-0 p-0 px-2"><i
						class="fa fa-lock text-primary opacity-25"></i></span>
					<input
						tabindex="1"
						placeholder="{{ 'ManagePassword.Confirm Password' | translate }}"
						pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-+_!@#$%^&*., ?])[A-Za-z\d-+_!@#$%^&*., ?]{8,}$"
						id="confirmPassword"
						class="form-control border-0 fs-6 px-2 text-primary"
						name="confirmPassword"
						value=""
						type="password"
						autofocus=""
						autocomplete="off"
						formControlName="confirmPassword"
					/>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="password-strenght">
				<ul class="row">
					<li class="col-md-12 align">
						<span class="icon"
							><svg
								height="15.872"
								viewBox="0 0 15.872 15.872"
								width="15.872"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.945,9.978l-2.51-2.51L3.5,8.4l3.442,3.442,7.9-7.858-.3-.452a7.937,7.937,0,1,0,1.331,4.4H14.549a6.612,6.612,0,1,1-1.426-4.1Z"
									data-name="Calls Copy 6"
									[attr.fill]="formGroup.get('password').value.length >= 8 ? '#00c48c' : 'silver'"
									fill-rule="evenodd"
									id="Calls_Copy_6"
								></path></svg></span
						><span
							class="text"
							[ngStyle]="{
								color: formGroup.get('password').value.length >= 8 ? '#00c48c' : 'silver'
							}"
							>{{ 'ManagePassword.Pass contain 8 letters' | translate }}</span
						>
					</li>
					<li class="col-md-12 align">
						<span class="icon"
							><svg
								height="15.872"
								viewBox="0 0 15.872 15.872"
								width="15.872"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.945,9.978l-2.51-2.51L3.5,8.4l3.442,3.442,7.9-7.858-.3-.452a7.937,7.937,0,1,0,1.331,4.4H14.549a6.612,6.612,0,1,1-1.426-4.1Z"
									data-name="Calls Copy 6"
									[attr.fill]="
										upperLettersPatern.test(formGroup.get('password').value) ? '#00c48c' : 'silver'
									"
									fill-rule="evenodd"
									id="Calls_Copy_6"
								></path></svg></span
						><span
							class="text"
							[ngStyle]="{
								color: upperLettersPatern.test(formGroup.get('password').value)
									? '#00c48c'
									: 'silver'
							}"
							>{{ 'ManagePassword.Pass contain big letter' | translate }}</span
						>
					</li>
					<li class="col-md-12 align">
						<span class="icon"
							><svg
								height="15.872"
								viewBox="0 0 15.872 15.872"
								width="15.872"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.945,9.978l-2.51-2.51L3.5,8.4l3.442,3.442,7.9-7.858-.3-.452a7.937,7.937,0,1,0,1.331,4.4H14.549a6.612,6.612,0,1,1-1.426-4.1Z"
									data-name="Calls Copy 6"
									[attr.fill]="
										lowerLettersPatern.test(formGroup.get('password').value) ? '#00c48c' : 'silver'
									"
									fill-rule="evenodd"
									id="Calls_Copy_6"
								></path></svg></span
						><span
							class="text"
							[ngStyle]="{
								color: lowerLettersPatern.test(formGroup.get('password').value)
									? '#00c48c'
									: 'silver'
							}"
							>{{ 'ManagePassword.Pass contain small letter' | translate }}</span
						>
					</li>
					<li class="col-md-12 align">
						<span class="icon"
							><svg
								height="15.872"
								viewBox="0 0 15.872 15.872"
								width="15.872"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.945,9.978l-2.51-2.51L3.5,8.4l3.442,3.442,7.9-7.858-.3-.452a7.937,7.937,0,1,0,1.331,4.4H14.549a6.612,6.612,0,1,1-1.426-4.1Z"
									data-name="Calls Copy 6"
									[attr.fill]="
										numbersPatern.test(formGroup.get('password').value) ? '#00c48c' : 'silver'
									"
									fill-rule="evenodd"
									id="Calls_Copy_6"
								></path></svg></span
						><span
							class="text"
							[ngStyle]="{
								color: numbersPatern.test(formGroup.get('password').value) ? '#00c48c' : 'silver'
							}"
							>{{ 'ManagePassword.Pass contain number' | translate }}</span
						>
					</li>
					<li class="col-md-12 align">
						<span class="icon"
							><svg
								height="15.872"
								viewBox="0 0 15.872 15.872"
								width="15.872"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.945,9.978l-2.51-2.51L3.5,8.4l3.442,3.442,7.9-7.858-.3-.452a7.937,7.937,0,1,0,1.331,4.4H14.549a6.612,6.612,0,1,1-1.426-4.1Z"
									data-name="Calls Copy 6"
									[attr.fill]="
										symbolsPatern.test(formGroup.get('password').value) ? '#00c48c' : 'silver'
									"
									fill-rule="evenodd"
									id="Calls_Copy_6"
								></path></svg></span
						><span
							class="text"
							[ngStyle]="{
								color: symbolsPatern.test(formGroup.get('password').value) ? '#00c48c' : 'silver'
							}"
							>{{ 'ManagePassword.Pass contain symbol' | translate }}</span
						>
					</li>

					<li class="col-md-12 align">
						<span class="icon"
							><svg
								height="15.872"
								viewBox="0 0 15.872 15.872"
								width="15.872"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.945,9.978l-2.51-2.51L3.5,8.4l3.442,3.442,7.9-7.858-.3-.452a7.937,7.937,0,1,0,1.331,4.4H14.549a6.612,6.612,0,1,1-1.426-4.1Z"
									data-name="Calls Copy 6"
									[attr.fill]="
										formGroup.get('password').value === formGroup.get('confirmPassword').value &&
										formGroup.get('password').value !== '' &&
										formGroup.get('confirmPassword').value !== ''
											? '#00c48c'
											: 'silver'
									"
									fill-rule="evenodd"
									id="Calls_Copy_6"
								></path></svg></span
						><span
							class="text"
							[ngStyle]="{
								color:
									formGroup.get('password').value === formGroup.get('confirmPassword').value &&
									formGroup.get('password').value !== '' &&
									formGroup.get('confirmPassword').value !== ''
										? '#00c48c'
										: 'silver'
							}"
							>{{ 'ManagePassword.Pass must be equals' | translate }}</span
						>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<button
		pButton
		[disabled]="!formGroup.valid"
		(click)="confirm()"
		[label]="'ManagePassword.Confirm' | translate"
		class=" h-100 btn btn-primary border-0 rounded-3 mt-2 d-block m-auto"
	></button>
</form>
