.note {
    margin: 0px;
}

.alignSwitchAR {
    text-align: right;
}

.alignSwitchEN {
    text-align: left;
}

#control-container {
    margin-top: 10px;
}

[dir="rtl"] :host::ng-deep #control-container {
    text-align: -webkit-left;
}

[dir="ltr"] :host::ng-deep #control-container {
    text-align: -webkit-right;
}