<app-page>
  <app-section sectionTitle="{{'NAV.QUERY_REQUEST' | translate}}">

    <div fxLayout="row wrap">
      <div fxFlex="100" class="pad-5">
        <div class='page-container'>
          <form [formGroup]="query" autocomplete="off">

            <div class="query-form">

              <div fxLayout="row wrap">
                <div fxFlex="100" class="pad-5">
                  <h6 class="note">{{'SERVICE.QUERY_NOTE' | translate}}</h6>
                </div>

                <div [fxFlex.xs]="100" fxFlex="100" class="pad-5">
                  <label>{{'Id' | translate}}</label>
                  <mat-form-field floatLabel="never" appearance="outline" class="full-width">
                    <input matInput formControlName="requestNumber" style="text-align: center;">
                  </mat-form-field>
                </div>

                <div [fxFlex.xs]="100" fxFlex="45" class="pad-5">
                  <label>{{'Request Date' | translate}}</label>
                  <mat-form-field floatLabel="never" appearance="outline" class="full-width">
                    <input matInput formControlName="requestDate" [matDatepicker]="fd">
                    <mat-datepicker-toggle matSuffix [for]="fd"></mat-datepicker-toggle>
                    <mat-datepicker #fd></mat-datepicker>
                  </mat-form-field>
                </div>

                <div [fxFlex.xs]="100" fxFlex="10" class="pad-5 center-flex">
                  <span>{{'Or' | translate}}</span>
                </div>

                <div [fxFlex.xs]="100" fxFlex="45" class="pad-5">
                  <label>{{'Service' | translate}}</label>
                  <app-select color="primary" [closeOnSelect]="true" [hideLoaded]="true" formControlName="requestType"
                    [data]="services" [bindValue]="'id'" [bindLabel]="'name'">
                  </app-select>
                </div>

                <div fxFlex="100" class="query-container pad-5 text-center">
                  <button class="ctm-btn query-btn" [disabled]="query.invalid" (click)="doQuery()">
                    {{'SERVICE.QUERY' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="found" class='page-container test-center'>
          <router-outlet></router-outlet>
        </div>
        <h6 class="text-center" style="margin:50px;" *ngIf="notFound">{{'SERVICE.REQUEST_NOT_FOUND' | translate}}</h6>
      </div>
    </div>

  </app-section>

  <div [@inOutAnimation] *ngIf="cmmnId">
    <app-section sectionTitle="{{'Steps' | translate}} {{requestName | translate}}">
      <div fxLayout="row wrap">
        <div fxFlex="100">
          <app-case-activities [caseInstanceId]="cmmnId"></app-case-activities>

          <br />
          <div class="align-dir">
            <button class="ctm-btn query-btn" routerLink="{{requestDetailsUrl}}">
              {{'Details' | translate}}
            </button>
          </div>
        </div>
      </div>
    </app-section>
  </div>

</app-page>