.filter {
  position: relative;
  top: 0px;
  margin: 0px;
  left: 0px;
  opacity: 0;
  z-index: 9;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  &-actions {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;

  }
}

:host ::ng-deep {
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.6475em 0;
  }
  .mat-form-field-infix {
    width: 100%;
  }
}
mat-form-field {
  width: 100%;
}
ion-label {
  color: var(--ion-color-medium) !important;
  font-size: 14px !important;
}
ion-content {
  height: calc(100% - 103px);
}
