<div fxLayout="row wrap">
    <div [fxFlex.xs]="100" [fxFlex.sm]="50" fxFlex="33" class="pad-5">
        <label>{{'From Date' | translate}}</label>
        <mat-form-field floatLabel="never" appearance="outline">
            <input matInput [(ngModel)]="filterData.requestDateAfter" [matDatepicker]="fd"
                placeholder="{{'REQUESTS.SELECT_REQUEST_DATE' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="fd"></mat-datepicker-toggle>
            <mat-datepicker #fd></mat-datepicker>
        </mat-form-field>
    </div>
    <div [fxFlex.xs]="100" [fxFlex.sm]="50" fxFlex="33" class="pad-5">
        <label>{{'To Date' | translate}}</label>
        <mat-form-field floatLabel="never" appearance="outline">
            <input matInput [(ngModel)]="filterData.requestDateBefore" [matDatepicker]="td"
                placeholder="{{'REQUESTS.SELECT_REQUEST_DATE'  | translate}}">
            <mat-datepicker-toggle matSuffix [for]="td"></mat-datepicker-toggle>
            <mat-datepicker #td></mat-datepicker>
        </mat-form-field>
    </div>
    <div [fxFlex.xs]="100" [fxFlex.sm]="50" fxFlex="33" class="pad-5">
        <label>{{'Service' | translate}}</label>
        <app-select [hideLoaded]="true" (select)="handleStatus($event)" [(ngModel)]="filterData.services"
             [data]="servicesFilterData" [bindValue]="'id'"
            [bindLabel]="'name'" [multiple]="true" maxWidth="300px">
        </app-select>
    </div>
    <div [fxFlex.xs]="100" [fxFlex.sm]="50" fxFlex="33" *ngIf="filterData.services.length == 1" class="pad-5">
        <label>{{'Status' | translate}}</label>
        <app-select [hideLoaded]="true" [(ngModel)]="filterData.statuses" [data]="statusFilterData" [bindValue]="'id'"
             [bindLabel]="'name'" [multiple]="true" maxWidth="250px">
        </app-select>
    </div>
    <div [fxFlex.xs]="100" [fxFlex.sm]="50" fxFlex="33" class="pad-5">
        <label>{{'SERVICE.NEEDS_UPDATE_SHORT' | translate}}</label>
        <app-select [hideLoaded]="true" [(ngModel)]="filterData.activeTask" [closeOnSelect]="true"
            [data]="[{id:true,name:'true'},{id:false,name:'false'}]" [bindValue]="'id'" [bindLabel]="'name'"
             [multiple]="false" maxWidth="250px">
        </app-select>
    </div>
</div>

<div class="control">
    <button class="margin-5 btn search" mat-raised-button type="button" (click)="applyFilter()">
        <i class="fa fa-search btn-icon" aria-hidden="true"></i>
        {{'search' | translate}}
    </button>
    <button class="margin-5 btn reset" mat-raised-button type="button" (click)="reset()">
        <i class="fa fa-refresh btn-icon" aria-hidden="true"></i>
        {{'reset' | translate}}
    </button>
</div>

<!-- 
<div class="filter" [@slideInOut]="show ? 'in' : 'out'">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-lg-2">
                    <mat-form-field>
                        <input matInput [(ngModel)]="filterData.requestDateAfter" [matDatepicker]="fd"
                            [placeholder]="'From Date' | translate">
                        <mat-datepicker-toggle matSuffix [for]="fd"></mat-datepicker-toggle>
                        <mat-datepicker #fd></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field>
                        <input matInput [(ngModel)]="filterData.requestDateBefore" [matDatepicker]="td"
                            [placeholder]="'To Date' | translate">
                        <mat-datepicker-toggle matSuffix [for]="td"></mat-datepicker-toggle>
                        <mat-datepicker #td></mat-datepicker>
                    </mat-form-field>
                </div>
                <div
                    [ngClass]="{'col-lg-4':filterData.services.length == 1,'col-lg-6':filterData.services.length != 1}">
                    <app-select [placeholder]="'Service' | translate" [hideLoaded]="true"
                        (select)="handleStatus($event)" [(ngModel)]="filterData.services" [data]="servicesFilterData"
                        [bindValue]="'id'" [bindLabel]="'name'" [multiple]="true">
                    </app-select>
                </div>

                <div *ngIf="filterData.services.length == 1" class="col-lg-2">
                    <app-select [placeholder]="'Status' | translate" [hideLoaded]="true"
                        [(ngModel)]="filterData.statuses" [data]="statusFilterData" [bindValue]="'id'"
                        [bindLabel]="'name'" [multiple]="true">
                    </app-select>
                </div>
                <div class="col-lg-2">
                    <app-select [placeholder]="'SERVICE.NEEDS_UPDATE_SHORT' | translate" [hideLoaded]="true"
                        [(ngModel)]="filterData.activeTask" [data]="[{id:true,name:'true'},{id:false,name:'false'}]"
                        [bindValue]="'id'" [bindLabel]="'name'" [multiple]="false">
                    </app-select>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-2 col-lg-2 filter-actions">
            <div class="row">
                <div class="col-lg">
                    <button mat-raised-button color="primary" type="button" (click)="applyFilter()"
                        style="margin-left: 5px; margin-right: 5px;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button mat-button color="" type="button" (click)="reset()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->