@import'../styles/colors.scss';
.app-root {
    .padding-top {
        padding-top: 40px;
    }
    .footer-pattern {
        width: 100%;
        height: 150px;
        background: var(--footer-pattern-bg, url('/assets/images/triangle-pattern.png')) ;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .mainWrapper {
        position: relative;
    }
}

.fa-arrow-circle-o-up{
    font-size: 35px;
    color:$success-color;
}