.padding-top {
    padding-top: 40px;
}

.footer-pattern {
    height: 150px;
    background: url('/assets/images/triangle-pattern.png') 0 / 30% repeat-x !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mainWrapper {
    position: relative;
}