.padding-top {
    padding-top: 40px;
}

.footer-pattern {
    width: 100%;
    height: 150px;
    background: url('/assets/images/triangle-pattern.png') !important;    
    position: fixed;
    left: 0;
    bottom: 0;
}

.mainWrapper {
    position: relative;
}