.footer {
    background-color: #324c58;
    &-container {
        min-height: 208px;
        border-left: 1px solid #787878;
        & .clients-continer {
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
                width: 88px;
                margin-left: 8px;
            }
        }
    }
    &-title {
        color: #13d5e8;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 35px;
    }
    &-main {
        padding: 20px 0;
    }
    & .mailing-container {
        & input {
            box-shadow: none;
            border: 1px solid #dddddd;
            width: 90%;
        }
    }
    & .social-media {
        margin-top: 58px;
        display: flex;
        justify-content: center;
        & i {
            font-size: 45px;
        }
        & a {
            color: #a8a8a8;
            margin-left: 25px;
            transition: all 0.5s;
            &:hover {
                color: #2185b8;
                -webkit-transform: translateY(-4px);
                -ms-transform: translateY(-4px);
                transform: translateY(-4px);
                transition: all 0.5s;
            }
        }
    }
    & .contact-container {
        border: 1px solid rgba(255, 255, 255, 0.25);
        padding: 10px;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        line-height: 34px;
        & .contact-head {
            background-color: #16c6d9;
            border-radius: 5px;
            padding: 7px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
        }
        & p {
            margin-bottom: 0;
        }
    }
    &-bottom {
        background-color: #1a303a;
        color: #ffffff;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        & p {
            margin-bottom: 0;
        }
    }
}

[dir='ltr'] .footer-container {
    border-right: 1px solid #787878;
    border-left: none;
}

@media screen and (max-width: 1080px) {
    .footer-container {
        border: none;
    }
}