<div class="footer">
    <div class="footer-main">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-6 col-lg-4">
                    <div class="footer-container">
                        <h3 class="footer-title">{{'FOOTER.CENTERS' | translate}}</h3>
                        <div class="clients-continer">
                            <img src="assets/clients/RCI02.png" />
                            <img src="assets/clients/RCI01.png" />
                            <img src="assets/clients/RCI03.png" />
                            <img src="assets/clients/RCI04.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="footer-container">
                        <h3 class="footer-title">{{'FOOTER.SOCIAL_MEDIA' | translate}}</h3>

                        <div class="social-media">
                            <a href="https://www.facebook.com/ETECKSA/" target="_blank" rel="noopener"><i
                                    class="fa fa-facebook-square"></i></a>
                            <a href="https://twitter.com/EtecKsa" target="_blank" rel="noopener"><i
                                    class="fa fa-twitter-square"></i></a>
                            <a href="https://www.youtube.com/etecksa/" target="_blank" rel="noopener"><i
                                    class="fa fa-youtube-square"></i></a>
                            <a href="https://ae.linkedin.com/company/etec-ksa" target="_blank" rel="noopener"><i
                                    class="fa fa-linkedin-square"></i></a>
                            <a href="/en/Pages/RSS.aspx"><i class="fa fa-rss-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="contact-container">
                        <div class="contact-head">{{'FOOTER.CUSTOMER_SERVICE' | translate}}</div>
                        <p>{{'FOOTER.PHONE' | translate}}</p>
                        <a href="tel:920033555">
                            920033555
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </a>
                        <p>{{'FOOTER.WORK_TIME' | translate}}</p>
                        <a href="https://www.etec.gov.sa/en/Pages/ContactUs.aspx">
                            {{'FOOTER.CONTACT_US' | translate}} <i class="fa fa-envelope" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <p>{{'FOOTER.COPY_RIGHTS' | translate}}</p>
    </div>
</div>