.section {
    margin-bottom: 40px;
}

.section__title {
    margin:0;
    padding: 0 0 5px 0;
    font-size: 22px;
    text-transform: capitalize;
}
.section__container{
    background:#fff;
    padding:20px 0;
}