<app-page class="app-request">
	<!-- <button (click)="hasResult = !hasResult">test</button> -->
	<div class="container-fluid" *ngIf="!hasResult" [@inOutAnimation]>
		<app-section sectionTitle="{{
				request ? request.requestName : navParams['serviceName_' + switchLangService.current]
			}}" [hasPadding]="false">

			<ng-container *ngIf="enableLock">
				<div class="lockContainer padder" *ngIf="request?.requestLocksDTO?.process == 'LOCKED';else notLocked">
					<div class="lockMessage">
						<div class="lockIcon">
							<ion-icon [name]="'lock-closed-outline'"></ion-icon>
						</div>
						<div class="col auto-width">
							<ng-container
								*ngIf="request.requestLocksDTO.processedBy == user?.currentUser_preferred_username;else showName">
								{{'requestLock.The request has been locked by you' | translate}}
							</ng-container>
							<ng-template #showName>
								{{'requestLock.The request has been locked by' | translate}}
								<strong *ngIf="request.requestLocksDTO.processedBy">
									{{request.requestLocksDTO.processorFullName}}
								</strong>
							</ng-template>

							{{'requestLock.in date' | translate}}
							<strong *ngIf="request.requestLocksDTO.processDate">
								{{request.requestLocksDTO.processDate | date : 'yyyy-MM-dd'}}</strong>.
						</div>
					</div>
					<div
						*ngIf="
							user?.currentUser_preferred_username == request.requestLocksDTO.processedBy || isAdmin
						"
					>
						<button
							pButton
							[label]="'requestLock.unLock' | translate"
							icon="pi pi-lock-open"
							(click)="unlock()"
						></button>
					</div>
				</div>

				<ng-template #notLocked>
					<div class="lockContainer padder">
						<div class="lockMessage">
							<div class="lockIcon">
								<ion-icon [name]="'lock-closed-outline'"></ion-icon>
							</div>
							<div class="col auto-width">
								{{'requestLock.lockMessage' | translate}}
							</div>
						</div>
						<div>
							<button class="unlock" href="javascript:" (click)="lock()">
								<ion-icon name="lock-closed-outline"></ion-icon>
								{{'requestLock.lock' | translate}}
							</button>
						</div>
					</div>
				</ng-template>
			</ng-container>
			<formio *ngIf="formReady" [formKey]="id" [params]="params" [submission]="submission"
				(submit)="onSubmit($event)" (formLoad)="formLoad($event)" class="container"
				[readOnly]="false" (beforeSetForm)="beforeSetForm($event.formio,$event.form)">
			</formio>
		</app-section>
	</div>

	<formio-loader></formio-loader>

	<app-result-info [actionLabel]="isLoggedIn ? 'NAV.MY_REQUESTS' : 'Home'" [serviceId]='_id'
		[userCreator]='etecData?.user_preferred_username' icon="assets/images/icons/success.png" (callback)="goBack()"
		*ngIf="hasResult" [@inOutAnimation]>
		<h5 class="result-title" *ngIf="isDraft">
			{{ 'REQUESTS.SAVE' | translate }} {{ navParams['serviceName_' + switchLangService.current] }}
			{{ 'REQUESTS.AS_DRAFT' | translate }}
		</h5>
		<h5 class="result-title" *ngIf="!isDraft">
			{{ 'REQUESTS.DONE' | translate }} {{ navParams['serviceName_' + switchLangService.current] }}
			{{ 'REQUESTS.SUCCESS' | translate }}
		</h5>
		<div class="result-sub-title">{{ 'REQUESTS.FOLW_REQUEST_MESSAGE' | translate }}</div>

		<div class="info-pair request-id">
			<span>{{ 'Id' | translate }} : </span> <span>{{ requestNumber }}</span>
		</div>
		<div class="info-pair">
			<span>{{ 'Request Date' | translate }} : </span>
			<span>{{ requestDate | date: 'dd/MM/yyyy' }}</span>
		</div>
	</app-result-info>
</app-page>