@import 'styles/colors.scss';
.app-request {
	.mat-expansion-panel-spacing {
		overflow: inherit !important;
	}
	formio {
		padding: 10px;
	}
	.alignSwitchAR {
		text-align: right;
	}
	.alignSwitchEN {
		text-align: left;
	}
	.service-title {
		margin: 28px 11px -20px 12px;
		background-color: #f5f5f5;
		padding: 24px 16px 14px 16px;
	}
	.result-title {
		font-weight: 900;
		font-size: 22px;
		margin-bottom: 18px;
		color: $success-color;
	}
	.result-sub-title {
		margin-bottom: 10px;
	}
	.info-pair {
		font-size: 14px;
		&.request-id {
			line-height: 4;
		}
	}
	.info-pair span:first-child {
		font-weight: 900;
	}
	.lockContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.lockMessage {
			color: #fff !important;
			background-color: $primary-color;
			border-radius: 8px;
			display: flex;
			padding-block: 12px;
			.lockIcon {
				padding-inline-start: 16px;
			}
		}
		button.unlock {
			border: 1px solid var(--accentColor200);
			padding: 4px 16px;
			border-radius: 12px;
			display: flex;
			align-items: center;
			ion-icon {
				margin-inline-end: 5px;
			}
		}
	}
}
