ion-item {
  --background: #f7f7f7;
  font-size: 11px;
  ion-label {
    p {
      font-size: 12px;
    }
  }
  --min-height: 75px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  ion-label {
    margin: 0px;
  }
  &.unread {
    --background: rgba(54, 127, 142, 0.08);
    border-right: 4px solid var(--primary500);
  }
  ion-button {
    --background: transparent;
  }
  ion-chip {
    ion-label {
      p {
        font-size: 12px;
        color: var(--ion-color-medium);
      }
    }
  }
  .options {
    opacity: 0;
    transition: 0.3s;
    ion-button {
      margin: 0px !important;
    }
    &:focus {
      opacity: 1;
    }
  }
  &:hover {
    .options {
      opacity: 1;
    }
  }
}
.type {
  padding: 2px;
  margin: 0px;
  height: 18px;
}
