.info-header {
    border-bottom: 2px solid #ddd;
    padding: 9px 2px 5px;
    margin-bottom: 12px;
    font-size: 16px;
    margin-left: -3px;
    margin-right: -3px;
    margin-top: 7px;
    font-weight: bold;
    opacity: 0.8;
}
