<div class="app-notifications-button">
    <div class="notification-btn" (click)="resetCount()" mat-button [matMenuTriggerFor]="notifications"
        (menuClosed)="toggleMenu(false)" (menuOpened)="toggleMenu(true)">
        <mat-icon matBadge="{{notificationsCount ? notificationsCount : null}}" matBadgePosition="before"
            matBadgeColor="accent">notifications_none</mat-icon>
    </div>
    <mat-menu class="notifications" #notifications="matMenu">
        <app-notifications-modal *ngIf="notificationsData?.length && isMenuOppened"></app-notifications-modal>
    </mat-menu>

    <!-- <button (click)="test()">test</button> -->
</div>