.profileHero {
    background: #fff;
    padding: 40px 0;
    margin: -38px 0 0;
}

.profileHero__icon{
    vertical-align: middle;
    color: #009688;
    margin-left: 10px;
}

.profileHero__name {
    font-size: 25px;
    font-weight: bold;
}

.profileHero__secondarySection {
    margin: 20px 0 0;
    padding: 0 10px;
}

.profileHero__meta {
    margin: 6px 0;
}

.profileData {
    background: whitesmoke;
    border-top: 1px #ccc solid;
    padding: 50px;
    margin-bottom: 40px;
}