<div class="app-page-title">
  <div class="container-fluid">
    <div class="section justSection">
      <div>
        <h2 class="section__title" *ngIf="title" bindCssVariable="customImage"
          bindCssVariableValue="url({{configService.sectionsIcon ? configService.sectionsIcon : '/assets/images/theme-icon.png'}})"
          [ngClass]="{'alignSwitchAR': switchLangService.currentLang=='ar', 'alignSwitchEN':switchLangService.currentLang=='en'}">
          <span>{{title}}</span>
        </h2>
      </div>
    </div>
  </div>
</div>