<app-page class="app-request-details">
	<app-section sectionTitle="{{ 'Steps' | translate }} {{ request?.requestName }}">
		<div class="action-container pad-5 text-center" *ngIf="showFeedbackButton">
			<a
				class="ctm-btn feedback action-btn-feedback"
				[ngClass]="{ 'feedback-ltr': isRtl$ | async }"
				(click)="openFeedbackDialog()"
			>
				<span
					[ngbTooltip]="'forms.common.Request Feedback' | translate"
					[placement]="(isRtl$ | async) ? 'right' : 'left'"
					class="teal-color"
				>
					<img type="image/png" rel="icon" src="../../../../assets/images/icons8-rating-97.png"
				/></span>
			</a>
		</div>
		<div
			class="padder"
			*ngIf="isLoggedIn && (hasTask || tasks?.length)"
			[ngClass]="{
				alignSwitchAR: switchLangService.currentLang == 'ar',
				alignSwitchEN: switchLangService.currentLang == 'en'
			}"
		>
			<div class="alert alert-warning">
				<div class="row">
					<div class="col-auto align-self-start auto-width">
						<ion-icon [name]="'alert-circle-outline'" class="alert-icon"></ion-icon>
					</div>
					<div class="col auto-width">
						{{ 'SERVICE.needs' | translate }} <strong *ngIf="taskName">{{ taskName }}</strong>
						{{ 'SERVICE.pleasePress' | translate }}
						<a
							(click)="handleAction({ type: 'task', activity: hasTask || tasks?.length })"
							class="alert-link"
							>{{ 'SERVICE.hereToUpdate' | translate }}</a
						>.
					</div>
				</div>
			</div>
		</div>

		<formio-loader></formio-loader>
		<div class="lockContainer padder" *ngIf="request?.requestLocksDTO?.process == 'LOCKED'">
			<div class="lockMessage">
				<div class="lockIcon">
					<ion-icon [name]="'lock-closed-outline'"></ion-icon>
				</div>
				<div class="col auto-width">
					<ng-container
						*ngIf="
							request.requestLocksDTO.processedBy == user.currentUser_preferred_username;
							else showName
						"
					>
						{{ 'requestLock.The request has been locked by you' | translate }}
					</ng-container>
					<ng-template #showName>
						{{ 'requestLock.The request has been locked by' | translate }}
						<strong *ngIf="request.requestLocksDTO.processedBy">
							{{ request.requestLocksDTO.processorFullName }}
						</strong>
					</ng-template>

					{{ 'requestLock.in date' | translate }}
					<strong *ngIf="request.requestLocksDTO.processDate">
						{{ request.requestLocksDTO.processDate | date: 'yyyy-MM-dd' }}</strong
					>.
				</div>
			</div>
			<div
				*ngIf="
					user.currentUser_preferred_username == request.requestLocksDTO.processedBy || isAdmin
				"
			>
				<button class="unlock" href="javascript:" (click)="unlock()">
					<ion-icon name="lock-open-outline"></ion-icon>
					{{ 'requestLock.unLock' | translate }}
				</button>
			</div>
		</div>
		<!--
    <div class="padder" *ngIf="request?.requestLocksDTO?.process == 'LOCKED'"
      [ngClass]="{'alignSwitchAR': switchLangService.currentLang=='ar', 'alignSwitchEN':switchLangService.currentLang=='en'}">
      <div class="alert alert-warning">
        <div class="row">
          <div class="col-auto align-self-start auto-width">
            <ion-icon [name]="'lock-closed-outline'" class="alert-icon"></ion-icon>
          </div>
          <div class="col auto-width">
            <ng-container
              *ngIf="request.requestLocksDTO.processedBy == user.currentUser_preferred_username;else showName">
              {{'requestLock.The request has been locked by you' | translate}}
            </ng-container>
            <ng-template #showName>
              {{'requestLock.The request has been locked by' | translate}}
              <strong *ngIf="request.requestLocksDTO.processedBy">
                {{request.requestLocksDTO.processedBy}}
              </strong>
            </ng-template>

            {{'requestLock.in date' | translate}}
            <strong *ngIf="request.requestLocksDTO.processDate">{{request.requestLocksDTO.processDate | date :
              'yyyy-MM-dd'}}</strong>.

            <ng-container *ngIf="user.currentUser_preferred_username == request.requestLocksDTO.processedBy || isAdmin">
              {{'requestLock.pleasePress' | translate}}
              <a (click)="unlock()" class="alert-link">{{'requestLock.here' | translate}}</a>.
            </ng-container>
          </div>
        </div>
      </div>
    </div> -->
		<br />
		<app-case-activities
			(task)="showTask($event)"
			*ngIf="cmmnId"
			[caseInstanceId]="cmmnId"
			[requestId]="id"
		>
		</app-case-activities>
	</app-section>

	<formio
		[ngClass]="{ readOnly: true }"
		*ngIf="formReady"
		[params]="params"
		[formKey]="link"
		[submission]="submission"
		[readOnly]="true"
		[viewOnly]="true"
	>
	</formio>
	<app-more-info *ngIf="moreInfo" [data]="moreInfo"></app-more-info>

	<!-- <div class="container" style="margin-top: 5px;">
    <nav>
      <div class="nav nav-tabs nav-item d-block p-2 w-100 p-2 d-flex justify-content-center" id="nav-tab"
        role="tablist">
        <a class="nav-item nav-link active p-2 w-50 d-flex justify-content-center" id="nav-home-tab" data-toggle="tab"
          href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i
            style="margin-left: 5px; margin-right: 5px;" class="fa fa-clock-o" aria-hidden="true"></i>{{'Status' |
          translate}}</a>
        <a class="nav-item nav-link p-2 w-50 d-flex justify-content-center" id="nav-profile-tab" data-toggle="tab"
          href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i
            style="margin-left: 5px; margin-right: 5px;" class="fa fa-id-card-o" aria-hidden="true"></i>{{'Details' |
          translate}}</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="padder" *ngIf="hasTask"
          [ngClass]="{'alignSwitchAR': switchLangService.currentLang=='ar', 'alignSwitchEN':switchLangService.currentLang=='en'}">
          <div class="alert alert-warning">
            <div class="row">
              <div class="col-auto align-self-start">
                <ion-icon [name]="'alert'" class="alert-icon"></ion-icon>
              </div>
              <div class="col">
                {{'SERVICE.needs' | translate}} <strong>{{'SERVICE.beneficiaryTask' | translate}}</strong>
                {{'SERVICE.pleasePress' | translate}} <a (click)="handleAction({type:'task',activity:hasTask})"
                  class="alert-link">{{'SERVICE.hereToUpdate' | translate}}</a>.
              </div>
            </div>
          </div>
        </div>
        <app-case-activities (task)="showTask($event)" *ngIf="cmmnId" [caseInstanceId]="cmmnId"></app-case-activities>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container-fluid"
          [ngClass]="{'alignSwitchAR': switchLangService.currentLang=='ar', 'alignSwitchEN':switchLangService.currentLang=='en'}">
          <formio [ngClass]="{'readOnly': true}" *ngIf="formReady" [params]="params" [formKey]="link"
            [submission]="submission" [readOnly]="true" [viewOnly]="true">
          </formio>
          <app-more-info *ngIf="moreInfo" [data]="moreInfo"></app-more-info>

        </div>
      </div>
    </div>
  </div> -->
</app-page>

<div class="row" id="feedback-section">
	<div class="col-12">
		<p-dialog
			[(visible)]="showFeedbackDialog"
			[style]="{ width: '30vw' }"
			[position]="'bottom-right'"
			[modal]="true"
			[baseZIndex]="10000"
			[draggable]="false"
			[resizable]="false"
		>
			<p-header>
				<p-button (click)="goToFeedbackPage()" icon="pi pi-external-link"></p-button>
				<span class="px-3">{{ 'forms.common.Request Feedback' | translate }}</span>
			</p-header>
			<formio
				*ngIf="feedbackFormReady"
				[formKey]="feedbackFormKey"
				[readOnly]="false"
				[submission]="feedbackSubmission"
				class="container"
				(submit)="afterFeedbackSubmitted($event)"
			>
			</formio>
		</p-dialog>
	</div>
</div>
