$primary-color: var(--primaryColor);
$warning-color: var(--warningColor);
$accent-color: var(--accentColor); 
$secondary-color: var(--secondaryColor);
$green-color: var(--greenColor);
$red-color: var(--redColor);