.card-header:first-child {
    border: none;
    background: transparent;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #007fc3;
    padding: 0px 10px;
}

.card-title::before {
    content: url('assets/temp.png');
    // content: " ";
    // background-image: url('assets/temp.png');
    // width: 20px;
    // height: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
    right: 10px;
}

.input-group-addon span {
    background: transparent;
    color: #25aab2;
}

.form-control:focus {
    border-color: #ccc !important;
    box-shadow: none !important;
}

.flatpickr-input+.form-control {
    border-left: none !important;
}

input,
select,
.form-control {
    border-radius: 4px !important;
}

[dir="rtl"] .input-group-addon span {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

[dir="ltr"] .input-group-addon span {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

[dir="rtl"] .flatpickr-input+.form-control {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

[dir="ltr"] .flatpickr-input+.form-control {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.choices[data-type*=select-one]:after,
.choices[data-type*=select-multiple] .form-control::after {
    border-style: none !important;
    height: 10px !important;
    width: 20px !important;
    margin-top: -4px !important;
    opacity: 0.15;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right transparent !important;
}

[dir="rtl"] .choices[data-type*=select-one]:after {
    left: 3.5px !important;
}

[dir="ltr"] .choices[data-type*=select-one]:after {
    right: 8.5px !important;
}