// http://ionicframework.com/docs/theming/

@import "~@ionic/angular/css/core.css";
// @import "~@ionic/angular/css/normalize.css";
// @import "~@ionic/angular/css/structure.css";
// @import "~@ionic/angular/css/typography.css";

// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@ionic/angular/css/global.bundle.css";
// @import "~@ionic/angular/css/ionic.bundle.css";
// @import "~@ionic/angular/css/utils.bundle.css";

//$app-direction: multi;

.app-formio {
  @import "~bootswatch/dist/yeti/variables";
  @import "~bootstrap/scss/bootstrap";
  @import "~bootswatch/dist/yeti/bootswatch";
  .formio-component-popupform {
    display: inline-block;
    margin: 0px 10px;
    margin-bottom: 5px;
  }
  .formio-component-dataGrid.hide-buttons tr th:last-child {
    display: none;
  }
  .table-bordered thead th {
    border-bottom-width: 2px;
    background: #f7f7f7;
  }
  .no-padding {
    padding: 0px !important;
    .card-body {
      min-width: 250px;
      padding: 0px !important;
    }
  }
  padding: 10px;
  font-size: 14px;
  min-height: 0 !important;
  h4 {
    font-size: 16px !important;
  }
  .formio-component-editgrid {
    .editgrid-row-error {
      text-align: left;
      display: none;
    }
  }
  .formio-component-editgrid:not(.formio-component-editgrid-row-open) {
    overflow: auto;
    color: #333;
    ul {
      display: table;
      min-width: 100%;
    }
  }
  .formio-component-editgrid.alert-danger {
    .editgrid-row-error {
      display: block;
      color: red;
    }
    .invalid-feedback {
      color: #fff !important;
    }
  }
  .formio-component-editgrid.formio-component-editgrid-row-open {
    overflow: hidden;
    ul {
      display: block;
      min-width: 100%;
      max-width: 100%;
      .row {
        overflow: hidden !important;
      }
    }
  }
  .editgrid-add {
    margin: 15px 0px;
  }
  .formio-component-datagrid {
    overflow: auto;
    td {
      min-width: 200px;
    }
    .formio-component-file {
      min-width: 395px;
    }
  }
  .hide-buttons {
    .formio-remove-column {
      display: none;
    }
  }
  .car-header {
    padding: 10px;
  }
  .list-group-item {
    padding: 10px 25px;
  }
  .editgrid-listgroup {
    text-align: center;
    .editgrid-body {
      text-align: -webkit-auto;
    }
  }
  .formio-edit-grid-header {
    background-color: #f7f7f7;
    padding: 15px 20px;
  }
}
.readOnly {
  .editRow,
  .removeRow {
    display: none;
  }
}
.toast-container {
  right: 12px !important;
  bottom: 12px !important;
  .ngx-toastr {
    padding: 20px !important;
    border-radius: 2px !important;
    box-shadow: none !important;
  }
  .toast-title {
    font-weight: normal;
  }
}
html[dir="rtl"] {
  --font-family-md-base: "Tajawal", sans-serif;
  --font-family-ios-base: "Tajawal", sans-serif;
  --font-family-wp-base: "Tajawal", sans-serif;
  --ion-font-family: "Tajawal", sans-serif !important;
  .toast-container {
    left: 12px !important;
    right: auto !important;
    direction: rtl;
    text-align: right;
  }
  ion-title,
  .page-title {
    text-align: right;
  }
  .app-formio {
    dd {
      margin-right: 0;
      margin-left: 10px;
    }
    .formio-component-editgrid {
      .editgrid-row-error {
        text-align: right;
      }
    }
  }
}
@media (max-width: 321px) {
  .mat-button {
    font-size: 11px !important;
  }
}
@media (max-width: 767px) {
  .ngx-toastr{
    width: calc(100vw - 25px) !important;
  }
  .formio-component-file {
    position: relative !important;
    overflow: hidden;
  }
  .alignSwitchAR {
    padding-left: 0px;
    padding-right: 0px;
  }
  .app-formio {
    padding: 0px;
    .col {
      flex-basis: auto;
    }
  }
}
@media (max-width: 575px) {
  .app-formio {
    padding: 0px;
    font-size: 13px;
    h4 {
      font-size: 15px !important;
    }
  }
}

.sideButtonContainer {
  padding: 10px 0 0 0;
  text-align: left;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  flex: 0 0 auto;
}
