<!-- <div no-padding class="d-none d-xl-block">

    <div class="milestones slider-container" *ngIf="initSlider" align-items-center>
        <owl-carousel-o #slider (initialized)="onInit($event, slider)" [options]="customOptions">
            <ng-container *ngFor="let activity of activities let i = index;">
                <ng-template [width]="300" [id]="'slide-'+i" *ngIf="activity.completed" carouselSlide>
                    <div class="milestone">
                        <ion-chip [color]="activity.completed ? 'success' : 'medium'">
                            <ion-label>
                                {{activity.caseActivityName === 'task' ? ('SERVICE.beneficiaryTask' | translate) : trans.getTranslated(activity.caseActivityName,'STATUSES')}}
                                <span class="mdate">
                                    {{activity.endTime | date}} {{ activity.endTime | date:'shortTime' }}
                                </span>
                            </ion-label>
                            <ion-icon [name]="activity.completed ? 'checkmark-circle-outline' : 'hourglass'"></ion-icon>
                        </ion-chip>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div> -->


<div style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="milestones" id="tracking">
                <ng-container *ngFor="let activity of activities">
                    <div class="tracking-list milestone">
                        <div [ngClass]="activity.completed ? 'greenBorder tracking-item' : 'lightBorder tracking-item'"
                            *ngIf="activity.completed">
                            <div
                                [ngClass]="activity.completed ? 'bg-success tracking-icon' : 'bg-secondary tracking-icon'">
                                <ion-icon [name]="activity.completed ? 'checkmark-circle-outline' : 'hourglass'"
                                    style="font-size: 40px;"></ion-icon>
                            </div>
                            <ion-chip [color]="activity.completed ? 'success' : 'medium'">
                                <ion-label>
                                    {{activity.caseActivityName === 'task' ? ('SERVICE.beneficiaryTask' | translate) :  switchLangService.getTranslated(activity.caseActivityName,'STATUSES')}}
                                    <span class="mdate">
                                        {{activity.endTime | date}} {{ activity.endTime | date:'shortTime' }}
                                    </span>
                                </ion-label>
                            </ion-chip>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>