<!-- <div no-padding class="d-none d-xl-block"> -->
<div no-padding class="">

    <div class="milestones slider-container" *ngIf="initSlider" align-items-center>
        <owl-carousel-o #slider (initialized)="onInit($event, slider)" [options]="customOptions">
            <ng-container *ngFor="let activity of activities let i = index;">
                <ng-template [width]="250" [id]="'slide-'+i" *ngIf="activity.completed" carouselSlide>
                    <div class="milestone">
                        <ion-chip
                            [ngClass]="activity.completed ? 'green' : (activity.caseActivityType == 'humanTask' ?'blue' : 'gray')">
                            <ion-label>
                                {{activity.caseActivityName}}
                                <span class="mdate">
                                    {{activity.endTime?.substring(0, 19) | localizedDate : 'yyyy-MM-dd EEEE hh:mm:ssa'}}
                                </span>
                            </ion-label>
                            <ion-icon [ngClass]="activity.completed ? 'icon-green' : (activity.caseActivityType == 'humanTask' ?'icon-blue' : 'icon-gray')"
                                [name]="activity.completed ? 'checkmark-circle-outline' : (activity.caseActivityType == 'humanTask' ?'create' : 'hourglass')">
                            </ion-icon>
                        </ion-chip>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>