ion-chip {
  width: 99%;
  height: 45px;
  font-family: inherit;
  ion-label {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: inherit;
    line-height: 10px;
    font-size: 13px;
  }
}
.mdate {
  font-size: 12px;
  display: block;
  clear: both;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #c4a300;
  }
  40% {
    box-shadow: 0 0 10px #c4a300;
  }
  60% {
    box-shadow: 0 0 10px #c4a300;
  }
  100% {
    box-shadow: 0 0 -10px #c4a300;
  }
}

.glowing {
  animation: glowing 5000ms infinite;
}
#tracking {
  margin-bottom: 1rem;
}
.milestones {
  padding: 10px 20px 0px 24px;
}

.tracking-list {
  border: 1px solid #e5e5e5;
}
.tracking-item {
  position: relative;
  padding: 2rem 2rem 2rem 0rem;
  font-size: 0.9rem;
  margin-left: 3rem;
}

.tracking-item:last-child {
  padding-bottom: 2rem;
}

.tracking-item .tracking-icon {
  line-height: 2.6rem;
  position: absolute;
  left: -1.3rem;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background-color: #fff;
  color: #fff;
}
.greenBorder {
  border-left: 3px solid #4bb543;
}

.lightBorder {
  border-left: 3px solid #6c757d;
}
.warningBorder {
  border-left: 3px solid var(--ion-color-warning);
}

@media (min-width: 992px) {
  .tracking-item {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
.slider-container {
  overflow: hidden;
  position: relative;
}
:host::ng-deep {
  .owl-stage {
    .owl-item {
      opacity: 0.7;
      position: relative;
      &:last-child {
        opacity: 1;
      }
    }
  }
  .owl-wrapper {
    display: table !important;
  }
  .owl-item {
    display: table-cell;
    float: none;
    vertical-align: middle;
    div {
      text-align: center;
    }
  }

  .owl-nav {
    display: flex;
    align-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: calc(100% + 48px);
    left: -23px;
    top: 50%;
    margin-top: -19px;
  }
  .owl-prev,
  .owl-next {
    padding: 0px !important;
    font-size: 23px !important;
    background: transparent !important;
    color: #4d668c !important;
  }
}
