.app-result-info {
	.page-container {
		max-width: 545px;
		margin: 20px auto;
		text-align: center;
		background: #fff;
		display: block !important;
	}
	img {
		display: inline-block;
		width: 200px;
	}

	.action-btn {
		margin: 0px 10px;
		width: 150px;
		height: 45px;
	}

	.teal-color {
		color: #fafafa;
		font-size: 25px;
	}

    .teal-color:hover {
		font-size: 30px;
	}

	.feedback {
		width: 50px !important;
		height: 50px !important;
        box-shadow: 0 5px 30px #6c757d
	}

	.action-btn-feedback {
		position: absolute;
		right: 0;
		bottom: 10px;
		margin: 0px 10px;
		border-radius: 100%;
		background-color: #16c6d9;
	}

	.action-btn-feedback:hover {
		width: 55px !important;
		height: 55px !important;
	}

	.action-container {
		display: flex;
		justify-content: center;
	}
	.center-flex {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90vh;
	}
}
