.app-result-info {
    .page-container {
        max-width: 545px;
        margin: 20px auto;
        text-align: center;
        background: #fff;
        display: block !important;
    }
    img {
        display: inline-block;
        width: 200px;
    }
    .action-btn {
        width: 150px;
        height: 45px;
    }
    .action-container {
        display: flex;
        justify-content: center;
    }
    .center-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
}