<slideshow [imageUrls]="imagesSlider" [minHeight]="'400px'" [backgroundPosition]="'center center'" [showDots]="true"></slideshow>

<app-page pageTitle="دليل الخدمات">
  
  <app-section sectionTitle="اكثر الخدمات استخداما">
    <section fxLayout="row wrap" fxLayoutAlign="space-between top">

      <ng-container *ngFor="let x of dataMostUsed;let i = index">
          <app-service-card *ngIf="i < 6" id="{{x._id}}" cardTitle="{{x.serviceName_ar}}" text="{{x.description_ar}}"  fxFlex="49" fxFlex.xs="100"></app-service-card><!-- @TODO temp -->
      </ng-container>
        
      </section>
  </app-section>

  <app-section sectionTitle="الدليل">
    
    <div fxLayout="row" 
    fxLayout.xs="column" 
    fxFlexFill>
      
    <div fxFlex="20">
        
      <div class="filtersSection">


        <div class="filtersSection__resetFilters" *ngIf="!isEmptyFilters()">
          <mat-list-item>
              <button mat-button (click)="showAll()"><mat-icon>close</mat-icon> حذف المصفيات</button>
          </mat-list-item>
        </div>

        <div class="filtersSection__keywordChip" *ngIf="keyword">
          <mat-chip-list>
            <mat-chip (click)="keyword='';changeKeyword()">بحث عن: <b>{{this.keyword}}</b><mat-icon>close</mat-icon></mat-chip>
          </mat-chip-list>
        </div>
          
        <div class="filtersSection__keyword">
          <mat-form-field class="filtersSection__keywordForm">
            
            <input matInput class="filtersSection__keywordInput" [(ngModel)]="keyword" (keyup)="changeKeyword()" placeholder="كلمة بحث">
            <button mat-button *ngIf="keyword" matSuffix mat-icon-button aria-label="Clear" (click)="keyword='';changeKeyword()">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
            
        </div>




          <ng-container *ngFor="let a of segmentType">
            <div class="filtersList">
            <div class="filtersList__head">{{a.segmentTypeName_ar}}</div>
              <ng-container *ngFor="let b of segments">
                <div class="filtersList__item">
                  <mat-checkbox class="filterCheckbox__input" *ngIf="b.segmentType._id == a._id" [(ngModel)]="segmentInput[b._id]" (change)="filterSegment(b._id)">{{b.segmentName_ar}}</mat-checkbox>
                </div>
              </ng-container>
          </div>
          </ng-container>

          <mat-list-item *ngIf="tags,length">كلمات دليلة</mat-list-item>

          <ng-container *ngFor="let x of tags">
            <mat-list-item>
                <mat-checkbox [(ngModel)]="tagsInput[x._id]" (change)="filterTag()">{{x.tag}}</mat-checkbox>
            </mat-list-item>
          </ng-container>


                
      </div>
  
    </div>
  
    <div fxFlex="80">
      

      <div fxLayout="row" class="department__section">
          <button fxFlex class="department" [class.active]="!dataFilters.department_inline || dataFilters.department_inline == null" mat-button (click)="department()">جميع الاقسام</button>
          <ng-container *ngFor="let x of departments">
              <button fxFlex class="department" [class.active]="x._id==dataFilters.department_inline" mat-button (click)="department(x._id)">{{x.departmentName_ar}}</button>
          </ng-container>
      </div>
      <div class="category__section">

          <ng-container *ngFor="let x of departments">
            
              <div *ngIf="dataFilters.department_inline == x._id" fxLayout="row" fxLayoutAlign="start center">
                  <ng-container  *ngFor="let y of categories">
                    <button *ngIf="y.department._id == x._id" [class.active]="y._id==dataFilters.category_inline" class="category" mat-button (click)="category(y._id)">
                      {{y.categoryName_ar}}
                    </button>
                </ng-container>
              </div>
            
          </ng-container>

      </div>
      
      <section fxLayout="row wrap" fxLayoutAlign="space-between top">
        <ng-container *ngFor="let x of data | filterBy: dataFilters">
          <app-service-card id="{{x._id}}" cardTitle="{{x.serviceName_ar}}" text="{{x.description_ar}}" fxFlex="49" fxFlex.xs="100"></app-service-card><!-- @TODO temp -->          
        </ng-container>

        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-card *ngIf="(data | filterBy: dataFilters).length === 0">
                لا يوحد نتائج تطابق المحددات المختارة
                <br><br>
              <button mat-stroked-button color="warn" (click)="resetFilters()">حذف جميع المحددات</button>
          </mat-card>
        </div>
      </section>
      <small *ngIf="(data | filterBy: dataFilters).length != 0">
        عرض عدد {{(data | filterBy: dataFilters).length}} 
        <ng-container *ngIf="(data | filterBy: dataFilters).length !=totalResult">خدمه تطابق بحثك،،، من اصل {{totalResult}}</ng-container> خدمة
      </small>
    </div>
  </div>

</app-section>


</app-page>