<slideshow [imageUrls]="imagesSlider" [minHeight]="'400px'" [backgroundPosition]="'center center'" [showDots]="true"></slideshow> 

<app-page pageTitle="{{'CATALOG.SERVICE_CATALOG_TITLE' | translate}}">

  <app-section  class="most-used" sectionTitle="{{'CATALOG.MOST_USED_SERVICES' | translate}}">
    <section fxLayout="row wrap" fxLayoutAlign="space-between top">

      <ng-container *ngFor="let x of dataMostUsed;let i = index">
          <app-service-card *ngIf="i < 6" id="{{x._id}}" cardTitle="{{x[trans._key('serviceName')]}}" text="{{x[trans._key('description')]}}"  fxFlex="49" fxFlex.xs="100"></app-service-card><!-- @TODO temp -->
      </ng-container>
        
      </section>
  </app-section>

  <app-section sectionTitle="{{'CATALOG.DIRECTORY' | translate}}">
    
    <div fxLayout="row" 
    fxLayout.xs="column" 
    fxLayoutGap="30px grid"
    fxLayoutAlign="space-between top"
    fxFlexFill>
      
    <div fxFlex="20">
        
      <div class="filtersSection">


        <div class="filtersSection__resetFilters">
          <mat-list-item>
              <button mat-button (click)="resetFilters()" [disabled]="userSegments?.length>0"><mat-icon>close</mat-icon> {{'CATALOG.REMOVE_FILTERS' | translate}}</button>
          </mat-list-item>
        </div>

        <div class="filtersSection__keywordChip" *ngIf="keyword">
          <mat-chip-list>
            <mat-chip (click)="keyword='';filterKeyword()">{{'CATALOG.SEARCH_FOR' | translate}}: <b>{{this.keyword}}</b><mat-icon>close</mat-icon></mat-chip>
          </mat-chip-list>
        </div>
          
        <div class="filtersSection__keyword">
          <mat-form-field class="filtersSection__keywordForm">
            
            <input matInput class="filtersSection__keywordInput" [(ngModel)]="keyword" (keyup)="filterKeyword()" placeholder="{{'CATALOG.SEARCH_KEYWORD' | translate}}">
            <button mat-button *ngIf="keyword" matSuffix mat-icon-button aria-label="Clear" (click)="keyword='';filterKeyword()">
                <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
            
        </div>




          <ng-container *ngFor="let a of segmentType">
            <div class="filtersList" [style.display]="a.visible ? 'block': 'none'">
            <div class="filtersList__head">{{a[trans._key('segmentTypeName')]}}</div>
              <ng-container *ngFor="let b of segments">
                <div class="filtersList__item">
                  <mat-checkbox class="filterCheckbox__input" *ngIf="b.segmentType._id == a._id" [(ngModel)]="segmentInput[b._id]" (change)="filterSegment(b._id)" [disabled]="userSegments?.length>0">{{b[trans._key('segmentName')]}}</mat-checkbox>
                </div>
              </ng-container>
          </div>
          </ng-container>

          <mat-list-item *ngIf="tags,length">{{'CATALOG.TAGS' | translate}}</mat-list-item>

          <ng-container *ngFor="let x of tags">
            <mat-list-item>
                <mat-checkbox [(ngModel)]="tagsInput[x._id]" (change)="filterTag()">{{x.tag}}</mat-checkbox>
            </mat-list-item>
          </ng-container>


                
      </div>
  
    </div>
  
    <div fxFlex="80">
      

      <div fxLayout="row" class="department__section">
          <button fxFlex class="department" [class.active]="!dataFilters.category.department._id || dataFilters.category.department._id == null" mat-button (click)="filterDepartment()">{{'CATALOG.ALL_DEPARTMENTS' | translate}}</button>
          <ng-container *ngFor="let x of departments">
              <button fxFlex class="department" [class.active]="x._id==dataFilters.category.department._id" mat-button (click)="filterDepartment(x._id)">{{x[trans._key('departmentName')]}}</button>
          </ng-container>
      </div>
      <div class="category__section">

          <ng-container *ngFor="let x of departments">
            
              <div *ngIf="dataFilters.category.department._id == x._id" fxLayout="row" fxLayoutAlign="start center">
                  <button [class.active]="dataFilters.category._id==null" class="category" mat-button (click)="filterCategory(null)">
                      {{"CATALOG.ALL_CATEGORIES" | translate}}
                    </button>
                  <ng-container  *ngFor="let y of categories">
                    <button *ngIf="y.department._id == x._id" [class.active]="y._id==dataFilters.category._id" class="category" mat-button (click)="filterCategory(y._id)">
                      {{y[trans._key('categoryName')]}}
                    </button>
                </ng-container>
              </div>
            
          </ng-container>

      </div>
      
      <section fxLayout="row wrap" fxLayoutAlign="space-between top">
        <ng-container *ngFor="let x of data | filterBy: dataFilters">
          <app-service-card id="{{x._id}}" cardTitle="{{x[trans._key('serviceName')]}}" text="{{x[trans._key('description')]}}" fxFlex="49" fxFlex.xs="100"></app-service-card><!-- @TODO temp -->          
        </ng-container>

        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-card *ngIf="(data | filterBy: dataFilters)?.length === 0">
                {{'CATALOG.NO_RESULTS_MATCHED_APPLIED_FILTERS' | translate}}
                <br><br>
              <button mat-stroked-button color="warn" (click)="resetFilters()" [disabled]="userSegments.length>0">{{'CATALOG.REMOVE_ALL_SEARCH_PARAMS' | translate}}</button>
          </mat-card>
        </div>
      </section>
      <small *ngIf="(data | filterBy: dataFilters)?.length != 0">
        {{'CATALOG.DISPLAY_RESULTS_COUNT' | translate }} {{(data | filterBy: dataFilters)?.length}} 
        <ng-container *ngIf="(data | filterBy: dataFilters)?.length !=totalResult">
          {{'CATALOG.SERVICE_MATCHED_SEARCH_FROM_ORIGIN' | translate }} {{totalResult}}</ng-container> 
          {{'CATALOG.SERVICE' | translate }}
      </small>
    </div>
  </div>

</app-section>


</app-page>